* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: $family;
}

// List

ul {
    list-style-type: none;
}

//Forms

input {

}

//Links
a {
    color: inherit;
    text-decoration: none;
}