* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: $family;
}

// List

ul {
    list-style-type: none;
}

//Forms

form {

    .form-row {

    }
}

//Links
a {
    color: inherit;
    text-decoration: none;
}